.product-name {
  font-size: 0.9rem;
  font-weight: bold;
  font-family: "Roboto", sans-serif;
  padding: 5px 0;
}

.discount {
  font-size: 1.3rem;
  color: #398378;
  padding: 0;
  margin: 5px 0 0 0;
  font-family: "Roboto", sans-serif;
}

.price {
  font-size: 0.8rem;
  text-decoration: line-through;
  margin: 5px 0 0 0;
  color: grey;
  font-family: "Roboto", sans-serif;
}

.compare-div {
  text-align: left;
  padding: 0 15px;
  font-family: "Roboto", sans-serif;
  background-color: #1a3962;
  color: white;
  height: 40px;
  align-items: center;
  display: flex;
}

.compare-div label {
  margin-left: auto;
  height: 20px;
}

.compare-div input {
  width: 20px;
  height: 20px;
}

.form-control {
  font-family: system-ui, sans-serif;
  font-size: 2rem;
  font-weight: bold;
  line-height: 1.1;
  display: grid;
  grid-template-columns: 1em auto;
  gap: 0em;
  color: rgba(0, 0, 0, 0);
  position: relative;
}

.form-control input {
  margin: 5px 0;
  width: 20px;
}

.product-card-image {
  overflow: hidden;
}

.product-card-image img {
  width: 100%;
  height: 260px;
  object-fit: cover;
  transition: all 0.5s;
}

