.product-detail-container {
    height: 100vh;
    background-color: rgb(230, 229, 229);
    padding: 15px;
    padding-top: 80px;
    font-family: "Roboto", sans-serif;

}

.product-detail-container img {
    width: 100%;
}

.product-detail-container div {
    background-color: white;

}

.product-detail-container .rating-bar {
    display: flex;
    align-items: center;
    gap: 10px;
    margin: 10px;
}

.product-detail-container .model {
    background-color: orange;
    font-size: medium;
    color: white;
    padding: 5px 10px;
    margin: 5px;
    border-radius: 15px;
}

.rating-bar div:nth-child(1) {
    display: flex;
    align-items: center;
}

.price-box {}

.rating-bar span {
    font-size: large;
    font-weight: bold;
}

.mb-5 {
    margin-bottom: 50px;
}

.add-to-cart-button {
    background-color: #24688a;
    padding: 8px;
    border-radius: 0;
    color: white;
    align-items: center;
    display: flex;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    transition: all 0.5s;
}

.add-to-cart-button:hover {
    background-color: red;

}

/* ###################################################3 */
