:root {
  --primary-color: #24688a;
  --secondary-color: red;
}

.product-detail-container {
  background-color: rgb(230, 229, 229);
  padding: 15px;
  font-family: "Roboto", sans-serif;
}

.product-detail-container > div {
  background-color: white;
}

.product-detail-container .rating-bar {
  display: flex;
  align-items: center;
  gap: 10px;
  margin: 10px;
}

.product-detail-container .model {
  background-color: orange;
  font-size: medium;
  color: white;
  border-radius: 15px;
}

.rating-bar div:nth-child(1) {
  display: flex;
  align-items: center;
}

.price-box {
  text-align: center;
}

.price-box p {
  text-align: left;
}

.price-box h2 {
  color: var(--primary-color);
}

.price-box h3 {
  text-decoration: line-through;
  font-weight: normal;
  color: grey;
}

.rating-bar span {
  font-size: large;
  font-weight: bold;
}

.mb-5 {
  margin-bottom: 50px;
}

.add-to-cart-button {
  background-color: #24688a;
  padding: 8px;
  border-radius: 0;
  color: white;
  align-items: center;
  display: flex;
  border: none;
  padding: 10px 20px;
  border-radius: 5px;
  transition: all 0.5s;
}

.add-to-cart-button:hover {
  background-color: red;
}

/* ###################################################3 */

.rating-box {
  border: 1px solid orange;
  color: darkorange;
  background-color: rgb(255, 239, 211);
}

.review-avatar {
  border-radius: 50%;
  max-width: 50px;
}
