.footer {
  background-color: primaryColor;
  color: white;
  padding: 50px 80px;
  bottom: 0;
}

.footer-logo {
  width: 210px;
}

.footer-link-box a {
  text-decoration: none;
  color: white;
  font-family: "Roboto", "Helvetica", "Arial", sans-serif;
}

.footer-link-box div {
  margin-bottom: 5px;
}

.d-flex {
  display: flex;
}

.footer-icon {
  margin-right: 5px;
}

@media (max-width: 575px) {
  .footer {
    padding: 50px 30px;
  }
}
